@media (max-width: 575px){
    .pic-size{
    width: 50px;
    height: 50px;
    }
}
@media (max-width: 767px){
    .pic-size{
    width: 50px;
    height: 50px;
    }
}
@media (max-width: 991px){
    .pic-size{
    width: 50px;
    height: 50px;
    }
}
@media (max-width: 1199px){
    .pic-size{
    width: 50px;
    height: 50px;
    }
}




.size{
    margin-right:200px;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
    direction: rtl;
    background-color: #ECE8D6;
        
}

.form-size{
    margin-top: 150px;
    float: right;
    /* margin-right: 450px; */
    width: 100px;
    height: 500px;
}
.pic-size{
    widows: 500px;
    height: 500px;
    margin-left: 250px;
    margin-top: 150px;
}
